<html>
	<head>
		<title>Gerrit's blog</title>
	</head>
	<body>
		<div>
			<strong>Gerrit's blog</strong>
		</div>	
		
		<div>
			<p>published: 28.03.2017, 13:37</p>
			<h2><a href="">Why Saber is worst girl</a></h2>
		</div>
	
		<div>
			<p>published: 28.03.2017, 08:15</p>
			<h2><a href="">Dark Souls 2, the best game of all time?</a></h2>
		</div>
		
		<div>
			<p>published: 25.03.2017, 10:15</p>
			<h2><a href="">Berserk 2016 Season 2: hopes and expectations</a></h2>
		</div>
		
	</body>
</html>